# MQTT - broker local Mosquitto
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_USERNAME=gabriel
MQTT_PASSWORD=altus123
MQTT_CLIENT_ID=altus-python-bridge
MQTT_TOPIC_PREFIX=altus

# MODBUS TCP - CLP Altus Kit 1
MODBUS_HOST=192.168.0.10
MODBUS_PORT=502
MODBUS_TIMEOUT=3

# API
API_HOST=0.0.0.0
API_PORT=8000
